<p>Jestliže jsou jiné země, ve kterých jsou za „normální” považovány chuligánství, výtržnictví, ve kterých jsou více
  méně
  lhostejní k narkomanii mládeže, ve kterých dekadence, nihilismus patří ke stylu života, to přece ještě neznamená, že
  takový způsob života bychom chtěli uplatňovat my a že dovolíme, aby byl vštěpován tím či oním způsobem naší mládeži.
</p>
<p>[…]</p>
<p>Avšak to, co provozovali, snad ani nejtolerantnější člověk nemůže nazvat uměním. Snad i zákon nám brání, abychom, byť
  na
  ukázku, uveřejnili alespoň jeden z textů jejich písní. Řekneme-li, že jsou vulgární, je to slabý výraz. Jsou sprosté,
  oplzlé. Lze s naprostou jistotou předpokládat, že ti, kteří spustili pokřik o „pronásledování” hudebníků v ČSSR, velmi
  dobře vědí, o jaké elementy jde.</p>
