$fullscreen-toggle-size: $base-unit * 1.25;

.fullscreen-toggle {
  position: absolute;
  top: $base-unit * 0.5;
  right: $base-unit * 0.5;
  width: $fullscreen-toggle-size;
  height: $fullscreen-toggle-size;

  background-color: rgba($text-color, 0.62);
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 ($base-unit * 0.5) rgba($text-color, 0.38);
  color: $bg-color;
  cursor: pointer;
  padding: 0;

  opacity: 0;
  transition: opacity 0.2s ease;

  &::before {
    top: 50%;
    right: calc(100% + #{$base-unit * 0.25});
    transform: translateY(-50%);
  }

  &:hover {
    border: 1px solid rgba($bg-color-1, 1);
    background-color: rgba($text-color, 0.9);
    color: $bg-color-1;
  }

  .draggable__item & {
    top: $base-unit * 0.25;
    right: $base-unit * 1.25;
    width: $fullscreen-toggle-size * .75;
    height: $fullscreen-toggle-size * .75;
    pointer-events: initial !important;
  }

  // pointer-events: none;
  // will-change: opacity;

  body:not(.is-idle) *:hover > &,
  body:not(.is-idle) .draggable__item:hover & {
    opacity: 1;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    fill: currentColor;
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($text-color, 0.95);
  display: flex;
  z-index: $layer-fullscreen;

  .transcript {
    max-width: $editor-width;
  }

  // img
  [data-lupa-target] {
    object-fit: contain;
  }
}

.fullscreen-container {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0 ($base-unit * 2.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-image {
  box-shadow: $box-shadow;
}
