//- Used in modul-media.pug

//-
mixin videoPlayer(video)
  .media-player(data-player-video data-player-state="paused")

    .media-player-wrapper
      video(src="../assets/video/" + video.soubor type="video/mp4" muted=(video.muted ? true : false) poster=(video.poster ? "../assets/img/" + video.poster : false) preload="auto")
        source(src="../assets/video/" + video.soubor type="video/mp4")

        if video.titulky
          track(default kind= video.titulky.typ || "captions" srclang= video.titulky.jazyk || "en" src="../assets/video/" + video.titulky.soubor)

      +videoPlayerControls(video)

    .media-player-meta
      if video.label
        .media-player-label !{typeset(video.label)}
      .media-player-title !{typeset(video.nazev)}
      .media-player-description !{typeset(video.popisek)}

//-
//- mixin playerControls()
//-   .media-player-controls
//-     .media-player-control-item(data-player-control="paused")
//-       button.media-player-button(tabindex="-1")
//-         svg(xmlns="http://www.w3.org/2000/svg")
//-           use.media-player-button-play(xlink:href="#icon-media-play")
//-           use.media-player-button-pause(xlink:href="#icon-media-pause")

mixin videoPlayerControls(video)
  .media-player-controls(role="toolbar" aria-label="media player")
    //- button.media-control.media-mute(aria-label="mute")
      svg.media-symbol.media-mute-symbol(role="presentation" aria-hidden="false")
        use(xlink:href="#symbol-mute")
      svg.media-symbol.media-unmute-symbol(role="presentation" aria-hidden="true")
        use(xlink:href="#symbol-unmute")
    //- button.media-slider.media-volume(role="slider" aria-label="volume" data-dir="ltr" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1")
      span.media-range.media-volume-range
        span.media-meter.media-volume-meter(style="width: 100%;")

    //- progress bar
    //- TODO: use <input type"range"> (to control) with <progress> (to show) (see https://plyr.io/)
    //- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range
    //- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress
    .media-player-progress
      span.media-time.media-time-current(data-video-time-left="" role="timer" aria-label="current time" title="")
      button.media-slider(data-video-time-progress="" role="slider" aria-label="current time" data-dir="ltr" aria-valuenow="0" aria-valuemin="0" aria-valuemax="30.037333")
        span.media-range.media-time-range
          span.media-meter.media-time-meter(style="width: 0;")
      //- span.media-text.media-remaining-time(role="timer" aria-label="remaining time" title="0 minutes, 29 seconds") 00:29
      span.media-time.media-time-duration(data-video-time-duration="" role="timer" aria-label="remaining time" title="")

    //- fullscreen
    +fullscreenToggle({ type: 'video' })

    //- overlay play/pause
    button.media-control.media-play.media-player-button(aria-label="play" data-player-control="paused")
      svg.media-symbol.media-play-symbol(role="presentation" aria-hidden="false")
        use(xlink:href="#icon-media-play")
      svg.media-symbol.media-pause-symbol(role="presentation" aria-hidden="true")
        use(xlink:href="#icon-media-pause")

    if video.muted
      +iconMuted()

mixin iconMuted()
  .icon-media-muted= t.video.muted[lang]
    //- svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100")
      path(d="M54.4 75a2 2 0 0 1-1.4-.6L40 61.3H30a2 2 0 0 1-2-2V42.8a2 2 0 0 1 2-2h10l13-13.2a2 2 0 0 1 2.2-.5 2 2 0 0 1 1.1 1.9v44a2 2 0 0 1-1.2 1.9 2 2 0 0 1-.7.1zM32 57.2h8.9a2 2 0 0 1 1.4.6l10 10.3V34l-10 10.3a2 2 0 0 1-1.5.6H32z")
      path(d="M68.8 51l3.6-3.7a2 2 0 0 0 0-2.9 2 2 0 0 0-2.8 0L66 48.2l-3.6-3.8a2 2 0 0 0-2.8 0 2 2 0 0 0 0 2.9L63 51l-3.6 3.7a2 2 0 0 0 0 2.9 2 2 0 0 0 2.8 0l3.6-3.8 3.7 3.8a2 2 0 0 0 2.8 0 2 2 0 0 0 0-2.9z")
