<h2>Proč byli vysídleni?</h2>

<p>Útěky a vyhánění velkých skupin lidí provázejí zřejmě celé lidské dějiny. Od počátku 20. století bylo vyhánění větších skupin obyvatelstva v Evropě a k ní přiléhajících oblastech spojeno nejčastěji s jejich etnickou příslušností. I obě vlny nuceného vysídlení z pohraničí českých zemí, v roce 1938 a v letech 1945–47, mají takový charakter.</p>

<p>Po odtržení tohoto území od Československa a jeho přičlenění k nacistickému optovala většina (asi půl milionu) zde žijících Čechů pro říšskou státní příslušnost, což jim umožnilo (byť bez plných občanských práv, jakých se na základě rasových principů těšili jen říšští občané německé národnosti) v pohraničí zůstat. Asi 250 000 Čechů se rozhodlo odejít do českého vnitrozemí, odjížděli často narychlo a za nejednoduchých okolností, byť si s sebou formálně mohli vzít veškerý movitý majetek. Až tisíce lidí tuto volbu neměly, protože je jejich němečtí sousedé a různé pronacistické, často ozbrojené skupiny vyháněli za použití násilí.</p>

<p>V roce 1945 byla situace pro necelé 3 miliony osob německé národnosti odlišná. V důsledku dekretů prezidenta republiky, vydávaných na sklonku války a v prvních poválečných měsících, Němcům až na tzv. antifašisty nemělo být vráceno československé občanství. Ztratili tak veškerá práva, a pokud nebyli násilně vyhnáni či zabiti (udává se minimálně 20 000 mrtvých) během tzv. divokého odsunu na jaře a v létě 1945, byli na základě mezinárodních ujednání vysídleni do Německa. Jen necelých 200 000 Němců mohlo zůstat. Uznaní antifašisté přitom tvořili jen nepatrné procento z nich, většinou šlo o ty, kteří zůstat museli, protože byli z hlediska státu nepostradatelnými pracovníky v důležitých hospodářských odvětvích, nebo o lidi, které stát prostě vysídlit nestihl.</p>

<p><small>autor: Matěj Spurný, historik</small></p>
