.captions {
  justify-content: space-between;
  padding: 0 0 $base-unit;
  color: $base-color;
  font-size: ms(-1);
  line-height: ms-line-height(-2);
}

.caption {
  padding: 0 $base-unit * .25;

  p {
    display: inline-block;
    text-align: left;
    max-width: $base-unit * 20;
    margin-left: auto;
    margin-right: auto;
  }
}
