<h1>Rezoluce žáků národní školy v Újezdě, pošta Vizovice.</h1>
<i>Státnímu soudu na Pankráci, Praha.</i>
<p>Žáci národní školy v Újezdě, pošta Vizovice, okres Val. Klobouky žádají, aby Státní soud potrestal co nejpřísněji rozvratníky,
kteří se proti budovatelským snahám pracujícího lidu i pracujících dětí staví nepřátelsky a chtějí přivolat nové Lidice,
Ležáky a Ploštiny. Co dělala obžalovaná Horáková, Zemínová, Hejda a všichni jejich společníci, když tyto osady hořely a s plameny požárů šlehaly k oblakům i bolestné hlasy mučených? Zapojili se mezi fašistobijce? Ne, jistě „nemohli!“</p>
<p>Děti těchto obžalovaných jistě pláčí, že mají takové rodiče, kteří kopou nové společné hroby pro ně a pro nás všechny. My však prohlašujeme, že si republiku rozvracet nedáme a že každého podezřelého ohlásíme.</p>
<p>Přejeme si, abychom nebyli vyrušováni z práce, která přináší blahobyt všem, i těm, které dnes soudíte a kteří se nám tak „odměnili“.</p>
<p>Proč nám tito rozvratníci kalí radost mládí, na které máme plné právo? Nepoznamenalo nás dost šest let protektorátu?</p>
